{:format :aiueos.kotoba-symbol-linkage/v1
 :source "rt-scheduler-dispatch-plan.kotoba"
 :source-export "kotoba_aiueos_scheduler_dispatch_plan"
 :source-object-sha256 "86bcf781ca3e7f72ab81e84fceaa503c0160fe973faac4ed1fa7f06fed5fc517"
 :linked-export "kotoba_aiueos_rt_scheduler_plan"
 :linked-object-sha256 "5ca14a7962a63c54ae33af451bd06a994f7fce6c1a3392615bd5a40c29d3372b"
 :transformation :llvm-objcopy-redefine-sym
 :semantic-bytes-changed false}
